
nav form{
    width: 100%;
    height: 6rem; 
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    border: 2px solid rgb(211, 209, 209);
    background-color: rgba(255, 253, 253, 0.788);
}
h1{
    font-family: fantasy;
    color: tomato;
}
nav .keyword_input{
    width: 30%;
    height: 3rem;
   

}
nav .tag_input{
    width: 30%;
    height: 3rem;
   
}

button{
    width: 10%;
    height: 3rem;
    background-color: silver;
    border-radius: 4px;
    border-style: none;

}
button img{
    width: 50%;
    height: 50%;
    color: white;
}
.list_blogs{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width:100%;
    height:auto;
}
.blog{
    width:35%;
    height:15rem;
    margin-bottom: 2rem;
    /* border:2px solid black; */
    
    list-style: none;
    background-color: yellow;
}
.blog p{
 font-family: cursive;
 color:blue;
}
