<html>
    <head>
        <link rel="stylesheet" href="../assets/blogs.css">
    </head>
    <body>
       <nav>
           <h1>Getting Started with blogs.....</h1>
           <form action="/getingblogs" method="POST">
            <input class="tag_input" name="tag_name" type="text" placeholder="Search for the tags....">
            <div>
               <% if(bol=="false"){%>
                    Please enter the valid tag name
                <%}%>
            </div>
            <input class="keyword_input" name="keyword_search" type="text" placeholder="Search for the keyword...">
            <button><img src="https://www.flaticon.com/svg/static/icons/svg/709/709592.svg" alt=""></button>
          </form>
       </nav>
       <main>
           <ul class="list_blogs">
               
                <% for( let i of blogs){%>
                    <li class="blog">
                       
                           <p><%= i.title %></p>
                           <p><%= i.description %></p>
                           <p><%= i.tags %></p>
                           <p> <%= i.text %></p>
                       
                   </li>
                <%}%>
           </ul>
       </main>
    </body>
</html>