<html>
    <head>
         <link rel="stylesheet" href="../assets/login.css">
    </head>
    <body>
        <div class="index_page">
            <div class="Navbar">
                <h1>Getting started with Medium Crawler....</h1>
            </div>
            <div class="Login_Section">
                <div class="left_portion">
                    <img src="../assets/logo.png">
                </div>
                <div class="right_portion">
                    <form action="/index" method="POST" class="Login_form">
                        <div>
                            <h2>Enter Login Details</h2>
                        </div>
                        <div class="credentials">
                            <input type="text" name="username" placeholder="Enter the Username" >
                            <input type="password" name="password" placeholder="Enter the Password">
                           
                        </div>
                        <div class="others">
                            <div class="other_credentials">
                                <img src="http://www.droid-life.com/wp-content/uploads/2015/09/new-google-logo.jpg" alt="">
                                 <a style="margin-top: 1rem; border-bottom: none; color: rgb(103, 223, 103);" href="/forget_password">Forget Password</a>
                            </div>
                            <div class="Login_details">
                                <a href="">Login via Mobile Otp</a>
                                <a href="/Register">New user</a>
                            </div>
                            
                            <input type="checkbox" name="remember" class="form_checkin" style="height: 10px; width: 10px; text-align: left;">
                            <span>Remember me for the future</span>
                            <button class="Login_btn">Login</button>
                        </div>  
                      
                    </form>
                </div>
            </div>
        </div>
       
      
    </body>
</html>