<html>
    <head>
        <link rel="stylesheet" href="../assets/login.css">
    </head>
    <body>
        <div class="index_page">
            <div class="Navbar">
                <h1>Web Medium Crawler</h1>
            </div>
            <div class="Login_Section">
                <div class="right_portion">
                    <form action="/gettoblogpage" method="POST" class="Login_form">
                        <div>
                            <h2>Enter Registration Details</h2>
                        </div>
                        <div class="credentials">
                            <input type="text" placeholder="Enter the Username" name="username">
                            <input type="password" placeholder="Enter the Password" name="password">
                            <input type="password"  placeholder="Confirm Password">
                        </div>
                        <div class="others">
                            <button class="Login_btn">Submit Details</button>
                        </div>  
                      
                    </form>
                </div>
            </div>
        </div>
       
      
    </body>
</html>